.container {
  align-items: center;
  cursor: pointer;
  border-radius: 54px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  height: 54px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  transition-duration: 0.2s;
}

.container:hover {
  background-color: #88888844;
  color: #000000;
}

.boxContainer {
  border-radius: 5px;
  border: solid 2px #888888;
  display: grid;
  height: 28px;
  place-items: center;
  width: 28px;
}

.label {
  display: grid;
  font-size: 14pt;
}
