.container {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
}

.leftContainer {
  display: grid;
  place-items: center;
}

.rightContainer {
  align-items: center;
  display: grid;
}

.rightSubcontainer {
  align-items: center;
  display: grid;
  gap: 10px;
}

.img {
  border: solid 1px #88888888;
  border-radius: 10px;
  height: 150px;
  pointer-events: none;
  width: 150px;
}

.nameContainer {
  display: grid;
}

.namePrimary {
  font-size: 18pt;
}

.nameSecondary {
  font-size: 16pt;
}

.titleContainer {
  display: grid;
  font-style: italic;
  opacity: 0.75;
}

.titlePrimary {
  color: #aa2244;
  font-size: 14pt;
}

.titleSecondary {
  color: #224488;
  font-size: 16pt;
}
