.container {
  border-radius: 10px;
  border: solid 3px transparent;
  display: grid;
  overflow: hidden;
  position: relative;
}

.iconContainer {
  display: grid;
  height: 100%;
  place-items: center;
  position: absolute;
  width: 100%;
}
